<p>bar-chart works!</p>
<button (click)="changeColor('ar')"> change to AR</button>
<button (click)="changeColor('en')"> change to EN</button>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">

            <div class="chart-wrapper">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>